/boob2/nbproject/private/
/HTML5Application/nbproject/private
/paradolia/nbproject/private/
/samples/tests/nbproject/private
/samples/games/MoonWarriors/HTML5Application/nbproject/private
/samples/games/MoonWarriors/nbproject/private/
/samples/games/WatermelonWithMe/nbproject/private/